body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
    background-image: url();
}

.flex{
    display: flex;
}

.space{
    justify-content: space-around;
}

.flexcenter{
    justify-content: center;
    align-items: center;
}

.flexcolumn{
    flex-direction: column;
}

.center{
    margin: 0;
    padding: 0;
    margin: auto;
}

.mainContainer{
    margin-top: 60px;
    background-color: white;
    width: 80%;
    border-radius: 10px;
}

.container{
    width: 100%;
    display: flex;
}

.side{
    width: 50%;
}

.sideContent{
    width: 80%;
}

label{
    margin-top: 10px;
}

.maxWidth{
    width: 100%;
}

button{
    margin: 20px;
    
}

.pad{
    padding-top: 17px;
}

header{
    background-color: white;
    margin-bottom: 50px;
    padding-top: 20px;
    text-align: center;
    height: 120px;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
}

header > h4{
    color: gray;
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: white;
}

footer > p{
    margin: 0;
    padding: 0;
    text-align: center;
}